<a href="https://colab.research.google.com/github/eduardosousa1992/Introdu-o_a_Data_Science.ipynb/blob/main/Introdu%C3%A7%C3%A3o_a_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

notas = pd.read_csv('ratings.csv')

In [3]:
notas.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [4]:
notas.shape

(100836, 4)

In [17]:
notas.columns = ["UsuárioId", "FilmesId", "Notas", "Momento"]

In [18]:
notas

        UsuárioId  FilmesId  Notas     Momento
0               1         1    4.0   964982703
1               1         3    4.0   964981247
2               1         6    4.0   964982224
3               1        47    5.0   964983815
4               1        50    5.0   964982931
...           ...       ...    ...         ...
100831        610    166534    4.0  1493848402
100832        610    168248    5.0  1493850091
100833        610    168250    5.0  1494273047
100834        610    168252    5.0  1493846352
100835        610    170875    3.0  1493846415

[100836 rows x 4 columns]

In [22]:
notas["Notas"]

0         4.0
1         4.0
2         4.0
3         5.0
4         5.0
         ...
100831    4.0
100832    5.0
100833    5.0
100834    5.0
100835    3.0
Name: Notas, Length: 100836, dtype: float64

In [23]:
notas["Notas"].unique()

array([4. , 5. , 3. , 2. , 1. , 4.5, 3.5, 2.5, 0.5, 1.5])

In [26]:
notas["Notas"].value_counts()

4.0    26818
3.0    20047
5.0    13211
3.5    13136
4.5     8551
2.0     7551
2.5     5550
1.0     2811
1.5     1791
0.5     1370
Name: Notas, dtype: int64

In [27]:
notas["Notas"].mean()

3.501556983616962